body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(35deg, rgb(0, 0, 255) 40%, rgb(0, 0, 0));
    text-align: center;
}
section{
    position: relative;
    background-color: white;
    box-shadow: 1px 3px 5px 5px rgba(255, 255, 255, 0.425);
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   border-radius: 10px;
   padding: 0px 10px 20px 10px;
  
}
section input{
    outline: none;
    padding: 10px;
   border: none;
   margin-left: 3px;
   box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.336);
   transition: 1s all;
   
}
section p{
    font-size: 20px;
}
section h1{
    font-size: 35px;
    font-weight: 900;
    padding: 10px 0px;
}
#person{
    margin-left: 60px;
}
#people{
    margin-left: -10px;
}
section button{
    margin-left: 40px;
    padding: 10px 18px;
    border-radius: 7px;
    border: none;
    background-color: rgb(3, 3, 73);
    color: white;
    outline: none;
    transition: 1s all;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.336);
}

section button:hover{
    background-color: blue;
    transition: 1s all;
  
}
#result{
    display: none;
}

@media only screen and (max-width:760px){
    section{
        width: 280px;
    }
}
